{% extends "AppBundle:Default:defaultbase.html.twig" %}

{% block stylesheets %}

    <style type="text/css">
        .mainrow {
            padding-left: 0px;
            padding-right: 0px;
        }
        .place {
            padding: 20px 0px 0px 0px;
        }
        .row6 {
            background-color: #f2d4d4;
            min-height:65px;
        }
        .row5 {
            background-color: white;
            min-height:65px;
        }
        .row4 {
            background-color: #f2d4d4;
            min-height:65px;
        }
        .row3 {
            background-color: white;
            min-height:65px;
        }
        .row2 {
            background-color: #f2d4d4;
            min-height:65px;
        }
        .row1 {
            background-color: white;
            min-height:65px;
        }
        .chevronDiv {
            min-height: 35px;
            text-align:center;
        }
        #canvas-container {
            width: 100%;
            text-align:center;
        }

        canvas {
            display: inline;
            background: url("{{asset('bundles/app/images/con4sym3.png')}}");
            background-size: 100% 100%;
        }
        a.disabled {
            opacity: 0.5;
            pointer-events: none;
            cursor: default;
        }


    </style>

{% endblock %}        

{% block body %}
    <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
        <div class="centered" style="margin-top:-20px;">
            <span style="font-family:'Arcade Rounded';font-weight:normal;font-size:15px">Opponent: computer</span>
        </div>
        <div class="centered">
            <span style="font-family:'Arcade Rounded';font-weight:normal;font-size:10px">Status: </span>
            <span id="statusMessage" move-name="{{user.userName}}" style="font-family:'Arcade Rounded';font-weight:normal;font-size:10px"> my move</span>
        </div>

        <div class="col-xs-1" style="display: none;" id="startcolor" data-value="blue"></div>
        <div class="col-md-12 textCentered" style="min-height:10px; font-family:'Arcade Rounded';font-weight:normal;font-size:28px; display:none;" id="victory"></div>
        <div id="playAgain" class="col-xs-12 textCentered" style="display:none;">
            <p><a href="{{path('app_sologame')}}" class="btn btn-success btn-sm playUser" style="font-family:'Arcade Rounded'" role="button">Play again</a></p>
            <p><a href="{{path('app_main')}}" class="btn btn-danger btn-sm cancelButton" style="font-family:'Arcade Rounded'" role="button">Not now!</a></p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4 mycol" style="margin-top:8px;">

        <div class="col-xs-15 centered">
            <div class="chevronDiv"><a href="#" class="moveHref" id="a-col"><span data-action="col1" class="gi-10p glyphicon glyphicon-chevron-down myChevron" style="color:#337ab7;"></span></a></div>

            <div class="panel panel-info" id="colMain1" style="display: none;">
                <div class="place row6" id="col16">
                </div>
                <div class="place row5" id="col15">
                </div>
                <div class="place row4" id="col14">
                </div>
                <div class="place row3" id="col13">
                </div>
                <div class="place row2" id="col12">
                </div>
                <div class="place row1" id="col11">
                </div>
            </div>
        </div>
        <div class="col-xs-15 centered">
            <div class="chevronDiv"><a href="#" class="moveHref" id="b-col"><span data-action="col2" class="gi-10p glyphicon glyphicon-chevron-down myChevron" style="color:#337ab7;"></span></a></div>

            <div class="panel panel-info" id="colMain2" style="display: none;">
                <div class="place row6" id="col26">
                </div>
                <div class="place row5" id="col25">
                </div>
                <div class="place row4" id="col24">
                </div>
                <div class="place row3" id="col23">
                </div>
                <div class="place row2" id="col22">
                </div>
                <div class="place row1" id="col21">
                </div>
            </div>
        </div>
        <div class="col-xs-15 centered">
            <div class="chevronDiv"><a href="#" class="moveHref" id="c-col"><span data-action="col3" class="gi-10p glyphicon glyphicon-chevron-down myChevron" style="color:#337ab7;"></span></a></div>

            <div class="panel panel-info" id="colMain3" style="display: none;">
                <div class="place row6" id="col36" >
                </div>
                <div class="place row5" id="col35" >
                </div>
                <div class="place row4" id="col34" >
                </div>
                <div class="place row3" id="col33" >
                </div>
                <div class="place row2" id="col32" >
                </div>
                <div class="place row1" id="col31" >
                </div>
            </div>
        </div>
        <div class="col-xs-15 centered">
            <div class="chevronDiv"><a href="#" class="moveHref" id="d-col"><span data-action="col4" class="gi-10p glyphicon glyphicon-chevron-down myChevron" style="color:#337ab7;"></span></a></div>
            <div class="panel panel-info" id="colMain4" style="display: none;">
                <div class="place row6" id="col46" >
                </div>
                <div class="place row5" id="col45" >
                </div>
                <div class="place row4" id="col44" >
                </div>
                <div class="place row3" id="col43" >
                </div>
                <div class="place row2" id="col42" >
                </div>
                <div class="place row1" id="col41" >
                </div>
            </div>
        </div>
        <div class="col-xs-15 centered">
            <div class="chevronDiv"><a href="#" class="moveHref" id="e-col"><span data-action="col5" class="gi-10p glyphicon glyphicon-chevron-down myChevron" style="color:#337ab7;"></span></a></div>
            <div class="panel panel-info" id="colMain5" style="display: none;">
                <div class="place row6" id="col56" >
                </div>
                <div class="place row5" id="col55" >
                </div>
                <div class="place row4" id="col54" >
                </div>
                <div class="place row3" id="col53" >
                </div>
                <div class="place row2" id="col52" >
                </div>
                <div class="place row1" id="col51" >
                </div>
            </div>
        </div>
        <div class="col-xs-15 centered">
            <div class="chevronDiv"><a href="#" class="moveHref" id="f-col"><span data-action="col6" class="gi-10p glyphicon glyphicon-chevron-down myChevron" style="color:#337ab7;"></span></a></div>
            <div class="panel panel-info" id="colMain6" style="display: none;">
                <div class="place row6" id="col66" >
                </div>
                <div class="place row5" id="col65" >
                </div>
                <div class="place row4" id="col64" >
                </div>
                <div class="place row3" id="col63" >
                </div>
                <div class="place row2" id="col62" >
                </div>
                <div class="place row1" id="col61" >
                </div>
            </div>
        </div>
        <div class="col-xs-15 centered">
            <div class="chevronDiv"><a href="#" class="moveHref" id="g-col"><span data-action="col7" class="gi-10p glyphicon glyphicon-chevron-down myChevron" style="color:#337ab7;"></span></a></div>
            <div class="panel panel-info" id="colMain7" style="display: none;">
                <div class="place row6" id="col76" >
                </div>
                <div class="place row5" id="col75" >
                </div>
                <div class="place row4" id="col74" >
                </div>
                <div class="place row3" id="col73" >
                </div>
                <div class="place row2" id="col72" >
                </div>
                <div class="place row1" id="col71" >
                </div>
            </div>
        </div>

        <div class="col-xs-12" style="background-color: lightblue;" id="referenceCol">
        </div>
        <div class="row">
            <div id="canvas-container">
                <canvas id="canvas" width="400" height="380" style="border:0px;">
                    This text is displayed if your browser does not support HTML5 Canvas.
                </canvas>
            </div>
        </div>




    </div>


{% endblock %}   

{% block javascript %}
    <script src="{{asset('bundles/app/js/blue.js')}}"></script>
    <script src="{{asset('bundles/app/js/red.js')}}"></script>
    <script src="{{asset('bundles/app/js/allcolor.js')}}"></script>
    <script src="{{asset('bundles/app/js/column.js')}}"></script>
    <script src="{{asset('bundles/app/js/mycomputer.js')}}"></script>
    <script>
        //polyfill for requestanimationFrame
        (function () {
            var lastTime = 0;
            var vendors = ['ms', 'moz', 'webkit', 'o'];
            for (var x = 0; x < vendors.length && !window.requestAnimationFrame; ++x) {
                window.requestAnimationFrame = window[vendors[x] + 'RequestAnimationFrame'];
                window.cancelAnimationFrame = window[vendors[x] + 'CancelAnimationFrame']
                        || window[vendors[x] + 'CancelRequestAnimationFrame'];
            }

            if (!window.requestAnimationFrame)
                window.requestAnimationFrame = function (callback, element) {
                    var currTime = new Date().getTime();
                    var timeToCall = Math.max(0, 16 - (currTime - lastTime));
                    var id = window.setTimeout(function () {
                        callback(currTime + timeToCall);
                    },
                            timeToCall);
                    lastTime = currTime + timeToCall;
                    return id;
                };

            if (!window.cancelAnimationFrame)
                window.cancelAnimationFrame = function (id) {
                    clearTimeout(id);
                };
        }());

        $(document).ready(function () {
            //animate chevron movement onece when the page loaded
            $(function () {
                var chevDirection = -1;
                var counter = 0;
                //animation
                function animateChevron() {
                    var position = 0;
                    var limit = -15;

                    function draw() {
                        requestID = requestAnimationFrame(draw);
                        $('.myChevron').css('margin-top', position);
                        // Drawing code goes here
                        if (counter >= 120) {
                            cancelAnimationFrame(requestID);
                        }
                        position += chevDirection;
                        counter += 1;
                        if (position === limit) {
                            chevDirection = 1;
                        } else if (position === 0) {
                            chevDirection = -1;
                        }
                    }
                    draw();
                }
                animateChevron();
            });

            var colWidth = $("#referenceCol").width();

            //resize canvas when load the page
            function resizeCanvas() {
                var canvas = $("#canvas");
                canvas.attr('width', colWidth);
                globalColWidht = canvas.width();
            }
            resizeCanvas();

            //resize canvas when change the window
            var waitForFinalEvent = (function () {
                var timers = {};
                return function (callback, ms, uniqueId) {
                    if (!uniqueId) {
                        uniqueId = "Don't call this twice without a uniqueId";
                    }
                    if (timers[uniqueId]) {
                        clearTimeout(timers[uniqueId]);
                    }
                    timers[uniqueId] = setTimeout(callback, ms);
                };
            })();

            $(window).resize(function () {
                waitForFinalEvent(function () {
                    var oldWidth = $("#canvas").css("width").replace("px", "");
                    var oldHeight = $("#canvas").css("height").replace("px", "");
                    var canvas = $("#canvas");
                    $("#canvas").css({
                        "width": $("#referenceCol").width(),
                        "height": $("#canvas").height()
                    });
                    var ratio1 = oldWidth / window.innerWidth;
                    var ratio2 = oldHeight / window.innerHeight;
                    canvas.ctx.scale(ratio1, ratio2);
                    globalColWidht = canvas.width();
                }, 500, "some unique string");
            });
        });

        //disable chevrons if move == false
        function disableChevron() {
            $('.moveHref').addClass('disabled');
        }

        //enable chevron
        function enableChevron() {
            console.log('ENABLE');
            $('.moveHref').removeClass('disabled');
        }

        function calculateX(col) {
            var colWidth = globalColWidht;
            var mainX = colWidth / 7;
            var correctX = mainX / 2;
            var colX = mainX * col - correctX;
            return colX;
        }

        function calculateY(col) {
            var mainY = $("#canvas").height() / 6;
            var correctY = mainY / 2;
            var row = COLUMN.getCol('col' + col) + 1;
            var colY = $("#canvas").height() - row * mainY + correctY;
            return colY;
        }

        function displayCols() {
            var row1 = COLUMN.getCol('col1');
            var row2 = COLUMN.getCol('col2');
            var row3 = COLUMN.getCol('col3');
            var row4 = COLUMN.getCol('col4');
            var row5 = COLUMN.getCol('col5');
            var row6 = COLUMN.getCol('col6');
            var row7 = COLUMN.getCol('col7');
            console.log(row1);
            console.log(row2);
            console.log(row3);
            console.log(row4);
            console.log(row5);
            console.log(row6);
            console.log(row7);
        }


        //display controller
        function triggerDisplay(col, color, pcColor) {
            //console.log('USERCOLOR ' + color);
            //console.log('PCCOLOR ' + pcColor);
            animate(col, color);
            //displayCols();
        }



        //draw the final position of the ball
        function drawCircle(x, y, color, col) {
            var mainCanvas = document.querySelector("#canvas");
            var mainContext = mainCanvas.getContext("2d");
            if (color === 'blue') {
                var myColor = "#006699";
            } else {
                var myColor = "#d9534f";
            }

            // draw the circle
            mainContext.beginPath();
            var radius = 20;
            mainContext.arc(x, y, radius, 0, Math.PI * 2, false);
            mainContext.closePath();
            // color in the circle
            mainContext.fillStyle = myColor;
            mainContext.fill();
            COLUMN.addCol('col' + col);

            //enable chevrons is computer move was compleated
            if (color === 'red') {
                enableChevron();
            }
        }


        //animation
        function animate(col, color) {
            var mainCanvas = document.querySelector("#canvas");
            var mainContext = mainCanvas.getContext("2d");
            if (color === 'blue') {
                var myColor = "#006699";
            } else {
                var myColor = "#d9534f";
            }
            var Ypos = 0;
            var speed = 2;
            var acceleration = 1;
            var Ymax = calculateY(col);
            var Xpos = calculateX(col);

            //calculate radius
            var colWidth = $("#referenceCol").width();
            if (colWidth < 350) {
                var radius = 16;
            } else {
                var radius = 20;
            }

            function draw() {
                requestID = requestAnimationFrame(draw);

                // Drawing code goes here
                mainContext.clearRect(Xpos - 22, Ypos - 50 + speed * acceleration, 45, 60);
                mainContext.beginPath();
                mainContext.arc(Xpos, Ypos + speed, radius, 0, Math.PI * 2, false);
                mainContext.closePath();
                // color in the circle
                mainContext.fillStyle = myColor;
                mainContext.fill();
                if (Ypos >= Ymax) {
                    mainContext.clearRect(Xpos - 22, Ypos - 50 + speed * acceleration, 45, 70);
                    cancelAnimationFrame(requestID);
                    drawCircle(calculateX(col), calculateY(col), color, col);

                    //end of game check if the table if full
                    if (COMPUTER.moveCounter === 42) {
                        if ($('#playAgain').css('display') == 'none') {
                            $('#victory').html('GAME IS DRAW');
                            $('#playAgain').show();
                        }
                    }
                }
                Ypos += speed * acceleration;
                acceleration += 0.15;
            }
            draw();
        }


        function animateVictory(color) {
            $("#a-col").remove();
            $("#b-col").remove();
            $("#c-col").remove();
            $("#d-col").remove();
            $("#e-col").remove();
            $("#f-col").remove();
            $("#g-col").remove();
            $("#victory").html(color + ' wins!');
            $("#victory").slideDown("slow", function () {
                setTimeout(function () {
                    $("#playAgain").slideDown("slow", function () {
                        //complete
                    });
                }, 2000);
            });
        }
        //animateVictory('red');






    </script>
{% endblock %}
